.osc {
	display: inline-block;
	height: 70px;

	.configure {
		display: inline-block;	
		padding: 10px;
		margin-left: 10px;
		margin-right: 10px;
		color: #CECECE;
		cursor: pointer;
	}

	.display {
		display: inline-block;
		padding: 10px;
		margin-top: 11px;
		border: 2px solid #CECECE;
		border-radius: 4px;
		color: #CECECE;
		font-size: 18px;
		cursor: pointer;
	}

	.configuration {
		display: inline-block;
		vertical-align: -14px;

		div {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		label {
			display: inline-block;
			width: 100px;
		}
	}
}

body {
	font-size: 14px;
	font-family: Arial;
}